{% extends "base.html" %}

{% block content %}
<main class="form-signin">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }} Go to <a href="{{ url_for('auth.login') }}">login page</a>.
      </div>
  {% endif %}
  {% endwith %}
  <form action="/inventorycreate" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h1 class="h3 mb-3 fw-normal">Item Creation Menu</h1>
    <div class="form-floating">
      <input class="form-control" id="floatingInput" type="text" name="name" placeholder="Name" autofocus="">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input class="form-control" id="floatingInput" type="text" name="price" placeholder="Price">
      <label for="floatingPassword">Price</label>
    </div>

    <button class="button is-block is-info is-large is-fullwidth" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
{% endblock %}
